{{#extends 'base'}}

{{#block 'content'}}
<h1 class ="mt-3 mb-3">About MiniMe!</h1>
<p>
    Welcome to MiniMe, the one stop platform where you can purchase quality toys 
    for your little ones at a discounted price! 
</p>
<p>
    <a href= "/users/register" >Register</a> with us and start adding items to your cart~ 
</p>
<h3>
    So, How do we do it? 
</h3>
<p>
    You can help contribute by trading in your products and our MiniMe officials will help you list your products. You'll be paid when your products are successfully purchased
</p>
<p>
    So why throw if they are in good quality, pass on the love to someone else! 
    Trade in <a href= "/users/register" >here</a> 
</p>
<p>
    We hope our discounts brought some joy to your life, happy shopping! 
</p>
{{/block}}

{{/extends}}

