{{#extends 'base'}}

{{#block 'content'}}
<div class ="container mt-5">
    <h1>Trade-in with MiniMe!</h1>
    <h2>Curious how to list your products with us? </h2> 
    <ol>
        <li>Take supporting photos/videos of baby products, brand tags included for verification.</li>
        <li>Drop us an email at minime@gmail.com with the estimated product price</li>
        <li>Upon submission, MiniMe team will conduct authenticity checks and may request for more information if necessary</li>
        <li>Once sucessful, MiniMe team will share the steps to schedule a pick up or you can drop off at any POP station </li>
        <li>Listing and selling will be managed by our team </li>
        <li>Once item is purchased, payment will be done via Bank Transfer </li>
    </ol>

</div>
{{/block}}

{{/extends}}

