{{#extends 'base'}}

{{#block 'content'}}
<h1>Join MiniMe!</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    {{{form}}} 
    <input type="submit" class="btn btn-primary btn-sm my-3"/>
</form>

<div>
    Have an account?
    <a href= "/users/register" >Sign In </a>
</div>
{{/block}}

{{/extends}}